h1 {
  font-size:14;
}


body {
  padding: 0;
  margin: 0 auto;
  width: 800px;
  font-family: Courrier, monospace;
  font-size: 6;
}

footer {
  margin: 20px;
}


.redacted {
  background-color: black;
  color: transparent;
  user-select: none;

}

.revealed {
  background-color: transparent;
  color: red;
  text-decoration: underline;

}

.found {
  background-color: grey;
  color: blue;
  text-decoration: underline;
}

/* .secret {
  background-color: yellow;
  color: red;
} */
